@use "typography";

.content_wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 90%;

  .users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5625rem;

    @media screen and (max-width: 1200px) {
      grid-template-columns: (repeat(2, 1fr));
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .user_card {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      min-height: 15rem;
      padding: 1.5rem;

      &:hover {
        cursor: pointer;
      }

      .user_data {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      }
    }
  }

  .search_form {
    position: relative;
    .search_field {
      width: 100%;
      height: 48px;
      border-radius: 1.5rem;
      border: 1px solid #d4defe;
      padding: 0 1.5rem;
    }
    input:focus {
      outline: none;
    }
    .search_icon {
      top: 25%;
      right: 1.5rem;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.card {
  background: #ffffff;
  box-shadow: 0px 0px 1.25rem 0px #0000001a;
  border-radius: 1rem;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 0px #0000001a;
  max-width: 35rem;
  border: none;
  outline: none;

  .dialog_content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .dialog_top {
      display: flex;
      gap: 2rem;
      justify-content: space-between;

      .icon_wrapper {
        cursor: pointer;
      }
    }

    .dialog_data_list {
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
    }
  }
}

.icon_wrapper {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data_item {
  display: flex;
  gap: 0.875rem;

  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }

  .item_title {
    flex-basis: 33%;
    font-size: 18px;
    font-weight: typography.$font-regular;
    line-height: 1.5rem;
  }
  .item_value {
    flex-basis: 66%;
    color: typography.$font-color-secondary;
  }
}

.user_name {
  font-weight: typography.$font-bold;
  font-size: 24px;
  line-height: 30px;
}
